/*Increases the space between blocks in the app, e.g. rows*/
.bottom-margin {
	margin-bottom: 20px;
}

/*Adds some padding to the top of the block items*/
.top-margin {
	margin-top: 20px;
}

/*used to power some jquery goodies*/
.initiallyHidden {
	display: none;
}

/*marks required fields*/
.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}