/*Increases the space between rows*/
.bottom-padding {
	margin-bottom: 20px;
}

/*used to power some jquery goodies*/
.initiallyHidden {
	display: none;
}

/*marks required fields*/
.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}