<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title>PushMe - collect and explore HTTP requests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<object 
		th:include="/fragments/styles :: styles" 
		th:remove="tag">
	</object>
		
	<object 
		th:include="/fragments/scripts :: scripts" 
		th:remove="tag">
	</object>

</head>
<body>
	
	<p th:text="'Number of requests' + ${container.getRequestsCount()}"></p>
	
	<div th:if="${not #lists.isEmpty(container.requests)}">
		<div th:each="request,iterStat : ${container.requests}">
			
			<!-- Request -->
			<div class="panel panel-default">
  				<div class="panel-heading">
    				<h3 class="panel-title"><strong th:text="${request.method}">GET</strong></h3>
  				</div>
  				<div class="panel-body">
    				Panel content
  				</div>
			</div>
			<!-- EO: Request -->
			
		</div>
	</div>

</body>
</html>