<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commonheader :: common_header(~{::title},~{::script})">

	<title>PushMe - inspecting a container</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Some JS executed on the main page -->
	<script 
		src="/js/inspectcontainer.js"
		th:src="@{/js/inspectcontainer.js}">
	</script>

</head>
<body>

	<nav 
		th:replace="fragments/commonnavbar :: common_navbar(~{})" 
		class="navbar navbar-default">
	</nav>

	<div class="container-fluid">
	
		<div th:if="${#lists.isEmpty(container.requests)}">
			
			<!-- Title row -->
    		<div class="row bottom-margin">
    			<div class="col-md-8 col-md-offset-2">
    				<div class="alert alert-success" role="alert">
    					<p class="text-center">
    						<i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> 
    					</p>
    					<p class="text-center">
    						Currently your container is empty. This means that it hasn't captured any requests.
    						You can send requests to the URL of the container and later inspect them.
    					</p>
	    			</div>
    			</div>
    		</div>
    		
    	</div>
	
		<div th:if="${not #lists.isEmpty(container.requests)}">
			
			<!-- Title row -->
    		<div class="row bottom-margin">
    			<div class="col-md-8 col-md-offset-2">
    				<div class="alert alert-success" role="alert">
    					<p class="text-center">
    						<i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> 
    					</p>
    					<p class="text-center">
    						Below are the latest requests which were collected by this container.
    					</p>
	    			</div>
    			</div>
    		</div>
    	
			<div th:each="request,iterStat : ${container.requests}">

				<!-- Request -->
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="panel-title pull-left">
							<strong th:text="${request.method}">GET</strong> <small th:text="${request.dateCreated}">07/03/1979</small><br/>
							<small th:text="${request.requestURI}">/x/y/z</small>
						</div>
					    <div class="panel-title pull-right">
						    <small>From: </small><small th:text="${request.requestFrom}">1.1.1.1</small>
					    </div>
        				<div class="clearfix"></div>
					</div>
					<div class="panel-body" th:switch="${iterStat.first}">
						<div 
							th:case="true"
							th:id="'req-id-' + ${request.id}"
							th:attr="data-ctnr-id=${container.id},data-request-id=${request.id}"
							class="req-container-preload text-center"
						>
							<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
						</div>
						<div
							th:case="*"
							th:id="'req-id-' + ${request.id}"
							th:attr="data-ctnr-id=${container.id},data-request-id=${request.id}"
							class="req-container text-center">
							<a href="#"><i class="fa fa-download fa-3x"></i></a>
							<span
								class="initiallyHidden req-container-spinner">
								<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
							</span>
						</div>
					</div>
				</div>
				<!-- EO: Request -->
				
			</div>
		</div>
	</div>
	
</body>
</html>