<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commonheader :: common_header(~{::title},~{::script})">

	<title>PushMe - inspecting a container</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Some JS executed on the main page -->
	<script 
		src="/js/inspectcontainer.js"
		th:src="@{/js/inspectcontainer.js}">
	</script>

</head>
<body>

	<div class="container-fluid">

		<!-- Title row -->
    	<div class="row bottom-padding">
    		<div class="col-md-8 col-md-offset-2">
    			<h4 class="text-center">
    				Below are the latest requests which were collected by this container.
    			</h4>
    		</div>
    	</div>

			<div th:if="${not #lists.isEmpty(container.requests)}">
			
			<div th:each="request,iterStat : ${container.requests}">

				<!-- Request -->
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="panel-title">
							<p>
								<strong th:text="${request.method}">GET</strong>
								<small th:text="${request.dateCreated}">07/03/1979</small>
							</p>
							<p>
								<small th:text="${request.requestURI}">/x/y/z</small>
							</p>
						</div>
					</div>
					<div class="panel-body" th:switch="${iterStat.first}">
						<div 
							th:case="true"
							th:id="'req-id-' + ${request.id}"
							th:attr="data-ctnr-id=${container.id},data-request-id=${request.id}"
							class="req-container-preload text-center"
						>
							<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
						</div>
						<div
							th:case="*"
							class="req-container text-center">
							<i class="fa fa-download fa-3x"></i>
						</div>
					</div>
				</div>
				<!-- EO: Request -->
				
			</div>
		</div>
	</div>
	
</body>
</html>