<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/commonheader :: common_header(~{::title},~{})">
	
    <title>PushMe - collect and explore HTTP requests</title>
	
</head>

<body>

	<nav 
		th:replace="/fragments/commonnavbar :: common_navbar('login')" 
		class="navbar navbar-default">
	</nav>

	<div class="container">    
    
    	<!-- The login box -->
        <div id="loginbox" class="top-margin col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            
            <div class="panel panel-success" >
            
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                    </div>     

                    <div class="top-margin panel-body" >
 						
 						
                        <div th:if="${param.error}" id="login-alert" class="alert alert-danger col-sm-12">
                        	Invalid email and password combination...
                        </div>
                             
                        <form id="loginform" 
                        	class="form-horizontal" 
                        	role="form" 
                        	action="/login" 
                        	th:action="@{/login}"
                        	method="post">
                            
                            <!-- User -->        
                            <div class="bottom-margin input-group">
                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                        <input 
                                        	id="login-username" 
                                        	type="text" 
                                        	class="form-control" 
                                        	name="username" 
                                        	value="" placeholder="Email Address">                                        
                            </div>
                            <!-- EO: User -->    
                            
                            <!-- Pass -->
                            <div class="bottom-margin input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input 
                                        	id="login-password" 
                                        	type="password" 
                                        	class="form-control" 
                                        	name="password" placeholder="Password">
                            </div>
                            <!-- EO: Pass -->
                                
                            <!-- Login btn -->    
                            <div class="bottom-margin form-group">
                                <!-- Button -->
                            	<div class="col-sm-12 controls">
									<button class="btn btn-success">Login</button>
                            	</div>
                            </div>
                            <!-- EO: Login btn -->


							<div class="form-group">
								<div class="col-md-12 control">
									<div>
										Don't have an account?
										<a href="#" th:href="@{/register}">Register here.</a>
										It is <em>very</em> easy.
									</div>
								</div>
							</div>    
					</form>     



                        </div>                     
                    </div>  
        	</div>
         </div> 
    </div>
    <!-- EO: The login box -->
        
</body>
</html>