<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commonheader :: common_header(~{::title},~{::script})">

	<title>PushMe - my containers</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Some JS executed on the main page -->
	<script 
		src="/js/mycontainers.js"
		th:src="@{/js/mycontainers.js}">
	</script>

</head>
<body>

	<nav 
		th:replace="/fragments/commonnavbar :: common_navbar('mycontainers')" 
		class="navbar navbar-default">
	</nav>

	<div class="container-fluid">
	
		<!-- No containers -->
    	<div th:if="${#lists.isEmpty(containers)}" class="row bottom-margin">
    		<div class="col-md-8 col-md-offset-2">
    			<div class="alert alert-success" role="alert">
    				<p class="text-center">
    					<i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> 
    				</p>
    				<p class="text-center">
    					Alas! It seems that you have no containers in your account... 
    					If you want to create some, please navigate to the 
    					<a th:href="@{/}" href="#">home page</a>.
    				</p>
    			</div>
    		</div>
    	</div>
    	<!-- EO: no containers -->
		
		<!-- Containers list -->
    	<div th:unless="${#lists.isEmpty(containers)}" class="row bottom-margin">
    		<div class="col-md-8 col-md-offset-2">
    			<table class="table">
    				<thead>
    					<tr>
    						<th>#</th>
    						<th>Container ID</th>
    						<th>Actions</th>
    					</tr>
    				</thead>
    				
    				<tbody>
    					<tr th:each="container, iterStat : ${containers}">
    						<td th:text="${iterStat.count}">1</td>
    						<td th:text="${container.id}">ContainerID</td>
    						<td>
    							<!-- TODO -->
								<a th:href="@{/container-inspect(id=${container.id})}" href="#" class="btn btn-success"><i class="fa fa-eye"></i> <span class="hidden-xs">Inspect</span></a>
								<a th:href="@{/container-setup(id=${container.id})}" href="#" class="btn btn-info"><i class="fa fa-cogs"></i> <span class="hidden-xs">Setup</span></a>
								<a th:attr="data-ctnr-id=${container.id}" 
										class="delete-ctnr btn btn-danger" 
										data-toggle="modal" 
										data-target="#deleteCtnr">
											<i class="fa fa-times"></i> <span class="hidden-xs">Delete</span></a>
								<a href="#" th:href="@{/container/{container_id}(container_id=${container.id})}">Link</a>
    							
    						</td>
    					</tr>
    				</tbody>
    				
    			</table>
    		</div>
    	</div>
    	<!-- EO: Containers list -->
		
	</div>
	
	<!--/* CSRF deletion */-->
  	<form id="delete-ctnr-form" th:action="@{/mycontainers-delete}" method="post">
  		<input id="delete-ctnr-id" name="containerId" type="hidden" value=""/>
  	</form>
	
	<!-- Delete dialog -->
	<div class="modal fade" id="deleteCtnr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">Delete container</h4>
      			</div>
      			<div class="modal-body">
        			Are you totally convinced that you have to delete this container?
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
        			<button id="delete-ctnr-btn" type="button" class="btn btn-danger">Yes</button>
      			</div>
    		</div>
  		</div>
	</div>
	<!-- EO: Delete dialog -->
	
</body>
</html>