<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commonheader :: common_header(~{::title},~{::script})">
	
    <title>PushMe - register a new user</title>
    
    <script th:src="@{https://www.google.com/recaptcha/api.js}"></script>
	
</head>

<body>

	<nav 
		th:replace="fragments/commonnavbar :: common_navbar('register')" 
		class="navbar navbar-default">
	</nav>

	<div class="container">    
    
    	<!-- The login box -->
        <div id="loginbox" class="top-margin col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            
            <div class="panel panel-success" >
            
                    <div class="panel-heading">
                        <div class="panel-title">User registration</div>
                    </div>     

                    <div class="top-margin panel-body" >
                                             
                        <form id="registerform" 
                        	class="form-horizontal" 
                        	role="form" 
                        	th:object="${userRegistrationForm}" 
                        	th:action="@{/register-create}"
                        	method="post">
                        	
                        	<div class="form-group">
								<div class="col-md-12 control">
									<div class="text-center">
										Creating a registration in PushMe is really easy! 
										Just fill in the form below and you will enjoy a new account.
									</div>
								</div>
							</div>
                            
                            <hr/>
                            
                            <!-- User Email-->        
                            <div class="bottom-margin input-group">
                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                        <input 
                                        	type="text" 
                                        	class="form-control" 
                                        	th:field="*{userEmail}"
                                        	name="useremail" 
                                        	value="" placeholder="Email Address">
                           </div>
                           
                           <div 
  								th:if="${#fields.hasErrors('userEmail')}"
  								th:errors="*{userEmail}"
  								class="alert alert-danger" role="alert">
  								<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
  								Invalid email!
							</div>    
                           
                            <!-- EO: User Email-->    
                            
                            <!-- Pass -->
                            <div class="bottom-margin input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input 
                                        	type="password" 
                                        	th:field="*{userPassword}"
                                        	class="form-control" 
                                        	name="password" placeholder="Password">
                            </div>
                            
                            <div 
  								th:if="${#fields.hasErrors('userPassword')}"
  								th:errors="*{userPassword}"
  								class="alert alert-danger" role="alert">
  								<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
  								Invalid password
							</div>    
                            
                            <!-- EO: Pass -->
                            
                            <!-- Pass retry -->
                            <div class="bottom-margin input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input 
                                        	type="password" 
                                        	th:field="*{userPasswordRepeat}"
                                        	class="form-control" 
                                        	name="password-repeat" 
                                        	placeholder="Repeat Password">
                            </div>
                            
                            <div 
  								th:if="${#fields.hasErrors('userPasswordRepeat')}"
  								th:errors="*{userPasswordRepeat}"
  								class="alert alert-danger" role="alert">
  								<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
  								Invalid password repeat
							</div> 
                            
                            <!-- EO: Pass retry -->
                            
                            <hr/>
                            
                            <div 
  								th:if="${#fields.hasErrors('recaptchaResponse')}"
  								th:errors="*{recaptchaResponse}"
  								class="alert alert-danger" role="alert">
  								<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
  								reCAPTCHA is not solved.
							</div> 
                            
                            <!-- reCAPTCHA -->
                            <div th:if="${recaptchaSiteKey}" class="bottom-margin input-group">
                            	<div class="g-recaptcha" th:attr="data-sitekey=${recaptchaSiteKey}"></div>
                            </div>
                            <!-- EO: reCAPTCHA -->
                                
                            <!-- Register btn -->    
                            <div class="bottom-margin form-group">
                                <!-- Button -->
                            	<div class="col-sm-12 controls">
									<button class="btn btn-success">Register</button>
                            	</div>
                            </div>
                            <!-- EO: Register btn -->			    
					</form>     



                        </div>                     
                    </div>  
        	</div>
         </div> 
    </div>
    <!-- EO: The registration box -->
        
</body>
</html>