<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/commonheader :: common_header(~{::title},~{})">
	
    <title>PushMe - register a new user</title>
	
</head>

<body>

	<nav 
		th:replace="/fragments/commonnavbar :: common_navbar('register')" 
		class="navbar navbar-default">
	</nav>

	<div class="container">    
    
    	<!-- The login box -->
        <div id="loginbox" class="top-margin col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            
            <div class="panel panel-success" >
            
                    <div class="panel-heading">
                        <div class="panel-title">User registration</div>
                    </div>     

                    <div class="top-margin panel-body" >
                        
                        <div class="form-group">
								<div class="col-md-12 control">
									<div>
										Creating a registration in PushMe is easy! 
										Just fill in the fields below.
									</div>
								</div>
							</div>
                             
                        <form id="registerform" 
                        	class="form-horizontal" 
                        	role="form" 
                        	action="/register" 
                        	th:action="@{/register}"
                        	method="post">
                            
                            <!-- User -->        
                            <div class="bottom-margin input-group">
                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                        <input 
                                        	id="login-username" 
                                        	type="text" 
                                        	class="form-control" 
                                        	name="username" 
                                        	value="" placeholder="Email Address">                                        
                            </div>
                            <!-- EO: User -->    
                            
                            <!-- Pass -->
                            <div class="bottom-margin input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input 
                                        	id="login-password" 
                                        	type="password" 
                                        	class="form-control" 
                                        	name="password" placeholder="Password">
                            </div>
                            <!-- EO: Pass -->
                            
                            <!-- Pass retry -->
                            <div class="bottom-margin input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input 
                                        	id="login-password-repeat" 
                                        	type="password" 
                                        	class="form-control" 
                                        	name="password-repeat" placeholder="Repeat Password">
                            </div>
                            <!-- EO: Pass retry -->
                                
                            <!-- Register btn -->    
                            <div class="bottom-margin form-group">
                                <!-- Button -->
                            	<div class="col-sm-12 controls">
									<button class="btn btn-success">Register</button>
                            	</div>
                            </div>
                            <!-- EO: Register btn -->
							    
					</form>     



                        </div>                     
                    </div>  
        	</div>
         </div> 
    </div>
    <!-- EO: The login box -->
        
</body>
</html>