<div xmlns:th="http://www.thymeleaf.org">
	<form
		class="form-horizontal" 
		th:action="@{/rules-create}"
		th:object="${ruleForm}"
		method="post">
		
		<input name="containerId" type="hidden" th:value="*{containerId}"/>
		
		<!-- method -->
		<div class="form-group required">
			<label class="col-sm-3 control-label" for="method">When request method is:</label>
			<div class="col-sm-9">
			 
				<select class="form-control" th:field="*{requestMethod}">
					<option
						th:each="method : ${allMethods}"
						th:value="${method}"
						th:text="${method}">
						METHOD
					</option>
				</select>
				<div 
  					th:if="${#fields.hasErrors('requestMethod')}"
  					class="alert alert-danger" role="alert">
  					<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
  					Invalid method!
				</div>
			</div>
		</div>
		<!-- eo: method -->
		
		<!-- response codes -->
		<div class="form-group required">
			<label class="col-sm-3 control-label" for="method">Return code will be:</label>
			<div class="col-sm-9"> 
				<select class="bottom-margin form-control" th:field="*{responseCode}">
					<option
						th:each="code : ${allResponseCodes}"
						th:value="${code}"
						th:text="${code}">
						CODE
					</option>
					<option value="SHIT">SHIT</option>
  				</select>
  				<div 
  					th:if="${#fields.hasErrors('responseCode')}"
  					class="alert alert-danger" role="alert">
  					<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
  					Invalid return code!
				</div>
			</div>
			<!--  <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>-->
		</div>
		<!-- eo: response codes -->
		
		<!-- Response body -->
		<div class="form-group">
			<label class="col-sm-3 control-label" for="method">Response body will be:</label>
			<div class="col-sm-9"> 
				<textarea 
					class="form-control" 
					th:field="*{responseBody}"></textarea>
			</div>
		</div>
		<!-- EO: Response body -->
		
		<!-- Buttons -->
		<div class="form-group">
			<div class="col-sm-12 text-center"> 
				<input class="btn btn-lg btn-success" type="submit" value="Submit">
			</div>
		</div>
		<!-- EO: Buttons -->
		
	</form>
</div>
