<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/commonheader :: common_header(~{::title},~{::script})">
	
    <title>PushMe - container not found</title>
   
	<script 
		src="/js/rule.js"
		th:src="@{/js/rule.js}">
	</script>
		
</head>

<body>  
    
    <nav 
		th:replace="/fragments/commonnavbar :: common_navbar(~{})" 
		class="navbar navbar-default">
	</nav>
    
    <div class="container-fluid">
    
    	<!-- Breadcrumb -->
    	<div class="col-md-8 col-md-offset-2">
    		<ol class="breadcrumb">
  				<li class="breadcrumb-item"><a th:href="@{/mycontainers}" href="#">My Containers</a></li>
  				<li class="breadcrumb-item active" th:text="${container.name}">Container name</li>
			</ol>
		</div>
		<!-- EO: Breadcrumb -->
    
    	<!-- New rule created -->
    	<div th:if="${newrule}" class="row bottom-margin">
    		<div class="col-md-8 col-md-offset-2">
    			<div class="alert alert-success" role="alert">
    				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    				<p class="text-center">
    					<i class="fa fa-check fa-2x" aria-hidden="true"></i> 
    				</p>
    				<p class="text-center">
    					You have successfully created a new rule for your container.
    				</p>
    			</div>
    		</div>
    	</div>
    	<!-- EO: New rule created -->
    	
    	<!-- Explanation -->
    	<div th:if="${#lists.isEmpty(container.rules)}" class="row bottom-margin">
    		<div class="col-md-8 col-md-offset-2">
    			<div class="alert alert-success" role="alert">
    				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    				<p class="text-center">
    					<i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> 
    				</p>
    				<p>
    					By default your containers answer with HTTP status 200 to incoming requests.
    					The body of the response is not defined by you. This may be insufficient 
    					for testing some of the push notifications - e.g. you may like to return
    					status code of 404 instead and a custom response body. 
    				</p>
    				
    				<p>
    					To customize the behavior of your container you may want to create some
    					rules. The first rule that matches will be executed and the custom response 
    					will be returned. If no rule matches the container will answer with status code 200.
    					Rule creation is easy. Giving a meaningful name may help you to organize your 
    					containers more efficiently. 
    				</p>
    			</div>
    		</div>
    	</div>
    	<!-- EO: explanation -->
    	
    	<!-- Create a new rule -->
		<div class="row bottom-margin">
    		<div class="col-md-8 col-md-offset-2">
    		
    			<div class="text-center">     
        				<button 
		    				id="btn_create_rule" 
		    				th:attr="data-ctnr-id=${container.id}"
    						class="btn btn-lg btn-success">
    						<span id="btn_create_container_new"><i id="btn_create_rule_icon" class="fa fa-plus fa-lg"></i> New rule</span>
    					</button>
    					
    					<button 
		    				id="btn_rename_ctnr" 
		    				th:attr="data-ctnr-id=${container.id}"
    						class="btn btn-lg btn-success"
    						data-toggle="modal" 
							data-target="#renameContainer">
    						<span><i id="btn_rename_ctnr_icon" class="fa fa-pencil fa-lg"></i> Rename</span>
    					</button>
 				</div>
    			
    		</div>
    	</div>
    	<!-- EO: Create a new rule -->
    	
    	<!-- The new rule -->
    	<div class="row bottom-margin">
    		<div class="col-md-8 col-md-offset-2">
    			<div id="new_rule">
    		
    			</div>
    		</div>
    	</div>
    	<!-- EO: The new rule -->
    	
    	<!-- Rule list -->
    	<div th:unless="${#lists.isEmpty(container.rules)}" class="row bottom-margin">
    		<div class="col-md-8 col-md-offset-2">
    			<table class="table">
    				<thead>
    					<tr>
    						<th>#</th>
    						<th>Description</th>
    						<th>Actions</th>
    					</tr>
    				</thead>
    				
    				<tbody>
    					<tr th:each="rule, iterStat : ${container.rules}">
    						<td th:text="${iterStat.count}">1</td>
    						<td th:text="${rule.requestMethod} + ' | ' + ${rule.responseCode}"></td>
    						<td>
    							<a th:attr="data-rule-id=${rule.id}" 
										class="delete-rule btn btn-danger" 
										data-toggle="modal" 
										data-target="#deleteRule">
											<i class="fa fa-times"></i> Delete</a>
    						</td>
    					</tr>
    				</tbody>
    				
    			</table>
    		</div>
    	</div>
    	<!-- EO: Rule list -->
    	
    </div>
    
    <!--/* CSRF deletion */-->
  	<form id="delete-rule-form" th:action="@{/rules-delete}" method="post">
  		<input id="delete-rule-id" name="ruleId" type="hidden" value=""/>
  	</form>
	
	<!-- Delete dialog -->
	<div class="modal fade" id="deleteRule" tabindex="-1" role="dialog">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">Delete rule</h4>
      			</div>
      			<div class="modal-body">
        			Are you totally convinced that you have to delete this rule?
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
        			<button id="delete-rule-btn" type="button" class="btn btn-danger">Yes</button>
      			</div>
    		</div>
  		</div>
	</div>
	<!-- EO: Delete dialog -->
	
	<!-- Delete dialog -->
	<div class="modal fade" id="renameContainer" tabindex="-1" role="dialog">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">Rename container</h4>
      			</div>
      			<!-- Rename form start -->
   				<form id="rename-form" th:action="@{/container-rename}" method="POST">
	      			<div th:object="${container}" class="modal-body">
    					<label for="ctnr_name">New name</label>
    					<input name="newName" type="text" class="form-control" id="ctnr_name" placeholder="New name" th:value="*{name}">
    					<input name="containerId" type="hidden" th:value="*{id}"/>
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
        				<button type="submit" id="save-cntr-name" class="btn btn-success">OK</button>
      				</div>
      			</form>
    		</div>
  		</div>
	</div>
	<!-- EO: Delete dialog -->
    	
</body>
</html>